<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.annotationtest.dataprovider"/>
      <class name="com.annotationtest.groups"/>
      <class name="com.annotationtest.ignoretest"/>
      <class name="com.annotationtest.annotationn"/>
      <class name="com.annotationtest.dependency"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
